<html>
<head>
<title>
{% block pagetitle %}
PostgreSQL + Flask + jquery 로 구축하는 대한민국 구석구석
{% endblock %}
</title>
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<link rel="stylesheet" type="text/css" href="/static/Bare-Bones-Slider-master/css/jquery.bbslider.css" />
<script src="/static/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/Bare-Bones-Slider-master/js/jquery.bbslider.min.js"></script>
<script src="/static/visitkorea.js"></script>
<style>
.bbslider-wrapper { width:507px; }
</style>
</head>
<body>
{% block maintitle %}
<h1>PostgreSQL + Flask + jquery 로 구축하는 대한민국 구석구석</h1>
{% endblock %}
{% block category %}
{% endblock %}
{% block placelist %}
{% endblock %}
{% block placeview %}
{% endblock %}
<script>
{% block javascript %}
$(document).ready(startpage);
{% endblock %}
</script>
</body>
</html>
